@model IEnumerable<NUR.Models.Strojna>

@{
    ViewBag.Title = "Index";
}

<h2>Ispis opreme po prostoriji</h2>
<script>
    var x = 0;
</script>
<table class="table">
    <tr>
        <th>
            ID prostorije
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kategorija)
        </th>
        <th>
            Ime programa
        </th>
        <th>
            Kategorija programa
        </th>
        <th>
            Prostorija
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {

        <script>
            x = x + 1
        </script>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prostorija.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategorija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Programska.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Programska.Kategorija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prostorija.Kategorija)
            </td>
        </tr>
    }
<div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

    <p>
        Ukupan broj artikala u prostoriji :
        <script>
            document.write(x);
        </script>

    </p>

</div>
</table>