@model NUR.Models.Strojna

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Strojna</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kategorija)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategorija)
        </dd>
        <dt>
            Program ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgramskaId)
        </dd>
        <dt>
            Prostorija ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProstorijaId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
