@model IEnumerable<NUR.Models.Strojna>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ID stroja
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kategorija)
        </th>
        <th>
            Ime programa
        </th>
        <th>
            Kategorija programa
        </th>
        <th>
            Prostorija
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Ime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Kategorija)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Programska.Ime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Programska.Kategorija)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Prostorija.Kategorija)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
    }

</table>